# chapter 3. 개별 변수 분석하기 숫자형 변수 - 기초통계량

In [1]:
import numpy as np
import pandas as pd

## 1) 기초통계량: 자료의 대푯값

① 아래와 같은 총 21개의 값이 있다고 할 때, numpy를 이용하여 다음의 값들을 구하시오.  
- 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30  
(1) 중앙값  
(2) 최빈값  
(3) 4분위수

In [2]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 
    11, 15, 17, 17, 19, 20, 25, 30]

# (1) 중앙값
print(np.median(a))

# (2) 최빈값
a_mode = pd.Series(a)
print(a_mode.mode())

# (3) 4분위수
print(np.percentile(a, [0, 25, 50, 75, 100]))

8.0
0    4
dtype: int64
[ 1.  4.  8. 17. 30.]

② 아래와 같은 총 15개의 값이 있다고 할 때, numpy를 이용하여 다음의 값들을 구하시오.    
- 3, 4, 5, 5, 6, 6, 6, 8, 8, 9, 11, 12, 12, 13, 14    
(1) 중앙값  
(2) 최빈값  
(3) 4분위수

In [3]:
list1 = [3, 4, 5, 5, 6, 6, 6, 8, 8, 9,
        11, 12, 12, 13, 14]

# (1) 중앙값
print(np.median(list1))

# (2) 최빈값
list1_mode = pd.Series(list1)
print(list1_mode.mode())

# (3) 4분위수
print(np.percentile(list1, [0, 25, 50, 75, 100]))

8.0
0    6
dtype: int64
[ 3.   5.5  8.  11.5 14. ]

## 2) 숫자형 변수

① 아래와 같은 총 21개의 값이 있다고 할 때, 이 값들을 시리즈로 변환하고 describe 함수를 이용하여 기초 통계량을 구하시오.  
- 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30

In [4]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10,
    11, 15, 17, 17, 19, 20, 25, 30]
s = pd.Series(a)
print(s.describe())

count    21.000000
mean     10.476190
std       8.158548
min       1.000000
25%       4.000000
50%       8.000000
75%      17.000000
max      30.000000
dtype: float64

## 3) 데이터 프레임의 숫자형 변수

① Titanic  
- 데이터셋 : titanic0  
- 설명 : NaN 포함된 Titanic  
- url : https://bit.ly/3FsgwkJ (https://bit.ly/3FsgwkJ)

(1) 데이터를 불러오시오.

In [5]:
path = 'https://bit.ly/3FsgwkJ'
titanic = pd.read_csv(path)
print(titanic.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

(2) 데이터의 기본 정보를 조회하시오. (.info())

In [7]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

(3) 데이터의 변수들의 자료형을 출력하시오. (.dtypes)

In [8]:
print(titanic.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

(4) 데이터에서 숫자 type 변수들에 대한 기초 통계량을 출력하시오. (.describe())

In [9]:
print(titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

(5) 'Age' 변수의 기초 통계량을 출력하시오.

In [10]:
print(titanic['Age'].describe())

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

(6) 'Fare' 변수의 기초 통계량을 출력하시오.

In [11]:
print(titanic['Fare'].describe())

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

(7) 'Age' 변수의 중앙값과 평균을 출력하시오.

In [12]:
# numpy의 함수
print('[numpy의 함수]', '='*50)
print(np.median(titanic['Age']))
print(np.mean(titanic['Age']))

[numpy의 함수] ==================================================
nan
29.69911764705882

In [13]:
# ★ pandas의 함수 ★ 
print('[pandas의 함수]', '='*50)
print(titanic['Age'].median())
print(titanic['Age'].mean())

[pandas의 함수] ==================================================
28.0
29.69911764705882

(8) 'Fare' 변수의 중앙값과 평균을 출력하시오.m

In [15]:
print(titanic['Fare'].median())
print(titanic['Fare'].mean())

14.4542
32.2042079685746

② New York Air Quality  
- 데이터셋 : airquality  
- 설명 : 뉴욕 공기오염도  
- url : https://bit.ly/3qmthqZ (https://bit.ly/3qmthqZ)

(1) 데이터를 불러오시오.

In [16]:
path = 'https://bit.ly/3qmthqZ'
air = pd.read_csv(path)
print(air.head())

   Ozone  Solar.R  Wind  Temp        Date
0     41    190.0   7.4    67  1973-05-01
1     36    118.0   8.0    72  1973-05-02
2     12    149.0  12.6    74  1973-05-03
3     18    313.0  11.5    62  1973-05-04
4     19      NaN  14.3    56  1973-05-05

(2) 데이터의 기본 정보를 조회하시오.

In [17]:
print(air.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    153 non-null    int64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Date     153 non-null    object
dtypes: float64(2), int64(2), object(1)
memory usage: 6.1+ KB
None

(3) 데이터의 변수들의 자료형을 출력하시오.

In [18]:
print(air.dtypes)

Ozone        int64
Solar.R    float64
Wind       float64
Temp         int64
Date        object
dtype: object

(4) 데이터에서 숫자 type 변수들에 대한 기초 통계량을 출력하시오.

In [19]:
print(air.describe())

            Ozone     Solar.R        Wind        Temp
count  153.000000  146.000000  153.000000  153.000000
mean    42.052288  185.931507    9.957516   77.882353
std     30.156127   90.058422    3.523001    9.465270
min      1.000000    7.000000    1.700000   56.000000
25%     20.000000  115.750000    7.400000   72.000000
50%     34.000000  205.000000    9.700000   79.000000
75%     59.000000  258.750000   11.500000   85.000000
max    168.000000  334.000000   20.700000   97.000000

(5) 'Ozone' 변수의 기초 통계량을 출력하시오.

In [20]:
print(air['Ozone'].describe())

count    153.000000
mean      42.052288
std       30.156127
min        1.000000
25%       20.000000
50%       34.000000
75%       59.000000
max      168.000000
Name: Ozone, dtype: float64

(7) 'Wind' 변수의 기초 통계량을 출력하시오.

In [21]:
print(air['Wind'].describe())

count    153.000000
mean       9.957516
std        3.523001
min        1.700000
25%        7.400000
50%        9.700000
75%       11.500000
max       20.700000
Name: Wind, dtype: float64

(8) 'Ozone' 변수의 중앙값을 출력하시오.

In [23]:
print(air['Ozone'].median())

34.0

(9) 'Wind' 변수의 최빈값을 출력하시오.

In [24]:
wind = air['Wind']
wind = pd.Series(wind)
print(wind.mode())

0    11.5
dtype: float64

(10) 'Temp' 변수의 4분위수를 출력하시오.

In [25]:
print(np.percentile(air['Temp'], [0, 25, 50, 75, 100]))

[56. 72. 79. 85. 97.]